{{>layout/sidebar}}


<main role="main" class="main-body col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="main-container">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt3 pb-2 mb-3 border-bottom">
            <h1 class="h2">앨범 관리</h1>
        </div>

        <div class="button-row">
            <button onclick="location.href='/admin/albums/save-form'" type="button" class="btn btn-primary">앨범 등록
            </button>
            <button type="button" class="btn btn-success">앨범 목록</button>
            <button type="button" class="btn btn-info">앨범 검색</button>
        </div>

        <div class="container album-details">
            <div class="row">
                <div class="col-md-3 album-art">
                    <img src="{{album.albumImg}}" alt="Album Cover">
                </div>
                <div class="col-md-9 album-info">
                    <h2>{{album.albumTitle}}</h2>
                    <p>{{album.artist.name}}</p>
                    <p>{{album.category}} | {{album.genres}}</p>
                    <p>{{album.createdAt}}</p>
                </div>
            </div>
            <div class="info-section">
                <h3>상세정보</h3>
                <ul>
                    <li>앨범명: {{album.albumTitle}}</li>
                    <li>아티스트: {{album.artist.name}}</li>
                    <li>유통사: {{album.distributor}}</li>
                    <li>기획사: {{album.agency}}</li>
                </ul>
            </div>
            <div class="info-section">
                <h3>앨범소개</h3>
                {{album.intro}}
            </div>
        </div>
    </div>
</main>
</div>
</div>
</body>
</html>
