{{>layout/sidebar}}

<!-- Main content -->
<main role="main" class="main-body col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="main-container">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt3 pb-2 mb-3 border-bottom">
            <h1 class="h2">가수 관리</h1>
        </div>

        <div class="button-row">
            <button type="button" class="btn btn-primary">가수 등록</button>
            <button type="button" class="btn btn-success">가수 목록</button>
            <button type="button" class="btn btn-info">가수 검색</button>
        </div>

        <!-- Song registration form -->
        <div class="song-registration-form">
            <form action="/artists/register" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label>가수 이름</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="가수 이름 입력">
                </div>
                <!--                <div class="form-group">-->
                <!--                    <label>가수 소개</label>-->
                <!--                    <textarea class="form-control" id="intro" name="intro" rows="4" placeholder="가수 소개"></textarea>-->
                <!--                </div>-->

                <div class="form-group">
                    <label for="genre">가수 유형</label>
                    <select class="form-control" id="artistType" name="artistType" required>
                        <option value="">유형 선택</option>
                        <option value="Solo">솔로</option>
                        <option value="Group">그룹</option>


                    </select>
                </div>

                <div class="form-group">
                    <label>가수 사진</label>
                    <input type="file" class="form-control-file" id="artistImg" name="artistImg">
                </div>

                <br>

                <button type="submit" class="btn btn-primary">등록</button>
            </form>
        </div>

    </div>
</main>
</div>
</div>

</body>
</html>
