{{>layout/sidebar}}

<main role="main" class="main-body col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="main-container">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt3 pb-2 mb-3 border-bottom">
            <h1 class="h2">가수 관리</h1>
        </div>

        <div class="button-row">
            <button type="button" class="btn btn-success">가수 목록</button>
            <button type="button" class="btn btn-info">가수검색</button>
        </div>

        <div class="container album-details">
            <div class="row">
                <div class="col-md-3 album-art">
                    <img src="../..{{artist.artistImg}}" alt="Album Cover">
                </div>
                <div class="col-md-9 album-info">
                    <h2>{{artist.artistName}}</h2>
                    <p>{{artist.artistType}} | {{artist.artistGenre}}</p>
                </div>
            </div>
            <br>
            <div class="playlist-body">
                <table class="playlist-table">

                    <thead>
                    <tr>
                        <th><input type="checkbox"></th>
                        <th style="font-size: 12px;">앨범 커버</th>
                        <th style="font-size: 12px;">앨범 제목</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#artist.artistAlbums}}
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>
                                <a href="/admin/albums/{{albumId}}">
                                    <img src="../..{{albumImg}}" alt="Album Cover">
                                </a>

                            </td>
                            <td>
                                <a href="/admin/albums/{{albumId}}">{{albumTitle}}</a>
                            </td>

                            <td>
                                <div class="d-flex button-row">
                                    <button type="button" class="btn btn-primary">앨범 수정</button>
                                    <button type="button" class="btn btn-danger">앨범 삭제</button>
                                </div>
                            </td>
                        </tr>
                    {{/artist.artistAlbums}}
                    </tbody>
                </table>
            </div>
</main>

</div>
</div>
</body>
</html>
