{{>layout/header}}
<head>
    <link rel="stylesheet" href="/css/admin/help.css">
</head>

<div class="faq-section">
    <h1 class="title">고객센터</h1>
    <fieldset class="help_search_faq">
        <div class="custom-search-bar">
            <i class="fas fa-search search-bar-icon"></i>
            <input type="text" value="" placeholder="결제, 이용권" class="iptxt" id="searchBar">
        </div>
        <div class="contact-info-container">
            <img src="/images/admin/qna.png" class="header-img">
            <p class="contact-info">문의 전화: 123-456-7890</p>
        </div>
    </fieldset>

    <table class="faq-table">
        <tbody>
        <tr class="faq-item">
            <td class="question" colspan="2">이용권을 구매했는데 1분 미리듣기만 돼요</td>
        </tr>
        <tr class="answer-row">
            <td colspan="2">
                다른 계정에 이용권이 있을 수 있어요. 보유 계정을 확인하고 이용권이 있는 계정으로 로그인해 보세요.
                <ul>
                    <li>설정 → 나의 계정/이용권 관리 → 보유 계정 확인</li>
                </ul>
            </td>
        </tr>
        <tr class="faq-item">
            <td class="question" colspan="2">이용권 자동결제에 실패해서 다시 결제하고 싶어요</td>
        </tr>
        <tr class="answer-row">
            <td colspan="2">
                결제수단을 바꿔서 기존 이용권을 재결제할 수 있어요.
                <ul>
                    <li>안드로이드: 설정 → 나의 계정/이용권 관리 → 나의 이용권 → 결제수단 관리 → 결제수단 변경 → 결제하기</li>
                    <li>iOS: 사이트 접속 → 왼쪽 상단 [≡] 버튼 → 로그인/회원가입 → 로그인 → 이용권 → 나의 이용권 → 결제수단관리 → 결제하기</li>
                </ul>
            </td>
        </tr>
        <tr class="faq-item">
            <td class="question" colspan="2">이용권 결제 금액을 알고 싶어요</td>
        </tr>
        <tr class="answer-row">
            <td colspan="2">
                이용권 결제 상세 내역을 확인해 보세요.
                <ul>
                    <li>설정 → 나의 계정/이용권 관리 → 나의 이용권 → 상세보기</li>
                </ul>
            </td>
        </tr>
        <tr class="faq-item">
            <td class="question" colspan="2">이용권 종류에 대해 알고 싶어요</td>
        </tr>
        <tr class="answer-row">
            <td colspan="2">
                사용 기기, 스트리밍 횟수, 오프라인 재생 등 상황에 맞는 이용권을 구매할 수 있어요.
                <ul>
                    <li>무제한 듣기 (기기제한 없음, 무제한 스트리밍)</li>
                    <li>모바일 무제한 듣기 (모바일 전용, 무제한 스트리밍)</li>
                    <li>무제한 듣기 + 오프라인 재생 (기기제한 없음, 무제한 스트리밍, 오프라인 재생)</li>
                    <li>300회 듣기 (기기제한 없음, 횟수 제한)</li>
                </ul>
            </td>
        </tr>
        <tr class="faq-item">
            <td class="question" colspan="2">음악 저장은 어떻게 해야 하나요?</td>
        </tr>
        <tr class="answer-row">
            <td colspan="2">
                음악을 저장하려면 저장을 할 수 있는 이용권이 있어야 합니다. '무제한 듣기+오프라인 재생' 이용권을 구매해주세요.
                <ul>
                    <li>저장을 원하는 개별 곡 선택 또는 전체 선택 후 하단 메뉴에서 [저장]을 선택하면 저장 시작과 완료를 알리는 메시지가 노출 됩니다. 오프라인 재생 이용권에서 저장한 곡들은 [저장곡]이 표시되며 모바일 저장 이용권에서 저장한 곡들은 [DRM] 마크가 노출 됩니다.</li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="ad-container">
<img src="/images/admin/metabox.png" class="ad">
</div>

<script src="/js/help.js"></script>

{{>layout/footer}}