{{>layout/sidebar}}
<div class="content-page">
    <div class="content-tab-bar">
        <div class="tab-content current">
            <div class="tab-head">
                <p>신고 상세보기</p>
            </div>
            <div class="tab-item">
                <ul class="reply-table">
                    <li>
                        <div class="reply-detail-head">
                            <div class="reply-content">
                                <div class="reply-user-info">
                                    <span>작성자 : {{report.replyAuthor}} |</span>
                                    <span>작성일자 : {{report.replyCreatedAt}}</span>
                                </div>
                                <p class="text">{{report.replyContent}}</p>
                            </div>
                        </div>
                        <div class="report-part">
                            <p class="report-icon">신고 사유</p>
                            <div class="report-reason">
                                <span>{{report.reportContent}}</span>
                            </div>
                            <div class="report-user-info">
                                <span>신고자 : {{report.reportUsername}} |</span>
                                <span>신고한 날짜 : {{report.reportCreatedAt}}</span>
                            </div>
                        </div>
            </div>
            <div class="buttons">
                <div class="button-wrapper">
                    <a class="btn refuse" onclick="">부적합</a>
                </div>
                <div class="button-wrapper">
                    <a class="btn list" href="/admin/reports">목록보기</a>
                </div>
                <div class="button-wrapper">
                    <a class="btn approval" onclick="">적합</a>
                </div>
            </div>
            </li>
            </ul>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
</body>

</html>