{{>layout/sidebar}}
<div class="content-page">
    <div class="content-tab-bar">
        <div class="tab-content current">
            <div class="tab-head">
                <p>신고 상세보기</p>
            </div>
            <div class="tab-item">
                <ul class="reply-table">
                    <li>
                        <div class="reply-detail-head">
                            <div class="reply-content">
                                <div class="reply-user-info">
                                    <span>작성자 : 홍길동 |</span>
                                    <span>누적신고횟수 : 2회 |</span>
                                    <span>작성일자 : 20224-06-19</span>
                                </div>
                                <p class="text">노래 진짜 못 부르네</p>
                            </div>
                        </div>
                        <div class="report-part">
                            <p class="report-icon">신고 사유</p>
                            <div class="report-reason">
                                <span>거짓말 하고 있어요</span>
                            </div>
                            <div class="report-user-info">
                                <span>신고자 : metacoding |</span>
                                <span>누적신고횟수 : 0회 |</span>
                                <span>신고한 날짜 : 2024-06-18</span>
                            </div>
                        </div>
            </div>
            <div class="buttons">
                <div class="button-wrapper">
                    <a class="btn refuse" onclick="">부적합</a>
                </div>
                <div class="button-wrapper">
                    <a class="btn list" href="/admin/report-list.html">목록보기</a>
                </div>
                <div class="button-wrapper">
                    <a class="btn approval" onclick="">적합</a>
                </div>
            </div>
            </li>
            </ul>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
</body>

</html>