{{>layout/sidebar}}

<!-- Main content -->
<main role="main">
    <section id="section n1">
        <div class="content-page">
            <div class="content-tab-bar">
                <div class="tab-content current">
                    <div class="tab-head">
                        <p>신고 관리</p>
                    </div>
                    <div class="tab-item">
                        <ul class="search-box">
                            <li class="search-left">
                                <span>총 신고<em> 2</em>건</span>
                            </li>
                        </ul>
                        <table>
                            <colgroup>
                                <col width="5%">
                                <col width="25%">
                                <col width="20%">
                                <col width="20%">
                                <col width="10%">
                                <col width="10%">
                            </colgroup>
                            <thead>
                            <tr>
                                <th scope="col">번호</th>
                                <th scope="col">신고 받은 댓글</th>
                                <th scope="col">신고 사유</th>
                                <th scope="col">신고 날짜</th>
                                <th scope="col">현황</th>
                                <th scope="col">상세보기</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#reportList}}
                                <tr>
                                    <td>{{reportId}}</td>
                                    <td>{{replyContent}}</td>
                                    <td>{{reportContent}}</td>
                                    <td>{{createdAt}}</td>
                                    <td>{{status}}</td>
                                    <td><span class="detail"
                                              onclick="location.href='/admin/reports/{{reportId}}'">상세보기</span>
                                    </td>
                                </tr>
                            {{/reportList}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

</body>

</html>