{{>layout/sidebar}}

<main role="main" class="main-body col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="main-container">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt3 pb-2 mb-3 border-bottom">
            <h1 class="h2">곡 관리</h1>
        </div>

        <div class="button-row">
            <button type="button" class="btn btn-success">곡 목록</button>
            <button type="button" class="btn btn-info">곡 검색</button>
        </div>

        <div class="container album-details">
            <div class="row">
                <div class="col-md-3 album-art">
                    <img src="../..{{song.albumImg}}" alt="Album Cover">
                </div>
                <div class="col-md-9 album-info">
                    <h2>{{song.songTitle}}</h2>
                    <p>{{song.artist.name}}</p>
                    <p>{{song.albumTitle}}</p>
                </div>
            </div>
            <div class="lyrics-section">
                <h3>상세정보</h3>
                <ul>
                    <li>곡명: {{song.songTitle}}</li>
                    <li>작곡: {{song.songWriter}}</li>
                    <li>작사: {{song.lyricist}}</li>
                </ul>
            </div>
            <div class="lyrics-section">
                <h3>가사</h3>
                {{song.lyrics}}
            </div>
        </div>
</main>

</div>
</div>
</body>
</html>
