{{>layout/sidebar}}

<main role="main">
    <section id="section n1">
        <div class="content-page">
            <div class="content-tab-bar">
                <div class="tab-content current">
                    <div class="tab-item company info">
                        <p class="tab-title">회원 정보</p>
                        <div class="tab_menu">
                            <div class="cont_area">
                                <div class="cont">
                                    <div class="join-form-item">
                                        <label for="email">이메일</label>
                                        <div class="input-wrapper">
                                            <input type="text" id="email" value="{{user.email}}" disabled>
                                        </div>
                                    </div>
                                    <div class="join-form-item">
                                        <label for="phone">전화번호</label>
                                        <div class="input-wrapper">
                                            <input type="text" id="phone" value="{{user.phone}}" disabled>
                                        </div>
                                    </div>
                                    <div class="join-form-item">
                                        <label for="birth">생년월일</label>
                                        <div class="input-wrapper">
                                            <input type="text" id="birth" value="{{user.birth}}" disabled>
                                        </div>
                                    </div>
                                    <div class="join-form-item">
                                        <label for="provider">가입 경로</label>
                                        <div class="input-wrapper">
                                            <input type="text" id="provider" value="{{user.provider}}" disabled>
                                        </div>
                                    </div>
                                    <div class="join-form-item">
                                        <label for="created-at">가입 일자</label>
                                        <div class="input-wrapper">
                                            <input type="text" id="created-at" value="{{user.createdAt}}" disabled>
                                        </div>
                                    </div>
                                    <div class="join-form-item">
                                        <label for="state-message">상태</label>
                                        <div class="input-wrapper">
                                            <input type="text" id="state-message" value="{{user.status}}" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="button-wrapper">
                                    <button type="submit" class="btn back join"
                                            onclick="history.back()">뒤로가기
                                    </button>
                                    <button class="refuse btn-closer" onclick="">블랙 리스트에서 제거</button>
                                    <button class="approval btn-closer" onclick="">블랙 리스트에 등록</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</div>
</div>


</body>

</html>