{{>layout/header}}
<div class="main-container mt-4">
    <div class="main-subscription">

        <div class="tabs">
            <a href="/subscription-list" class="tab" onclick="activateTab(this)">일반</a>
            <div class="tab active" onclick="activateTab(this)">나의 이용권</div>
        </div>
        <div class="my-ticket">
            <div class="subheader">사용 중인 이용권</div>
            <div class="content">
                <div class="inner-box">
                        <table>
                            <tr>
                                <td colspan="2" style="font-size: 20px; font-weight: bold;">(첫구매) 무제한 듣기 정기결제 2개월</td>
                                <td class="ticket-badge" style="font-size: 10px">사용 중</td>
                            </tr>
                            <tr>
                                <td>이용기간 2022-08-02 ~ 2022-09-01 까지</td>
                                <a><td colspan="3" class="ticket-action">환불 요청</td></a>
                            </tr>
                        </table>
                </div>

                <div class="inner-box">
                        <table>
                            <tr>
                                <td colspan="2" style="font-size: 20px; font-weight: bold;">(첫구매) 무제한 듣기 정기결제 2개월</td>
                                <td class="ticket-badge" style="font-size: 10px">사용 중</td>
                            </tr>
                            <tr>
                                <td>이용기간 2022-08-02 ~ 2022-09-01 까지</td>
                                <a><td colspan="3" class="ticket-action">환불 요청</td></a>
                            </tr>
                        </table>
                </div>
            </div>
        </div>

        <div class="my-ticket">
            <div class="subheader">사용 중인 이용권</div>
            <div class="content">
                <div class="header">사용 중인 이용권이 없습니다.</div>
                <button class="plan-button">이용권 구매</button>
            </div>
        </div>

        <div class="my-ticket">
            <div class="subheader">사용 완료된 이용권</div>
            <div class="content">
                <div class="inner-box">
                        <table>
                            <tr>
                                <td colspan="2" style="font-size: 20px; font-weight: bold;">(첫구매) 무제한 듣기 정기결제 2개월</td>
                                <td class="ticket-badge" style="font-size: 10px;">사용 완료</td>
                            </tr>
                            <tr>
                                <td>이용기간 2022-08-02 ~ 2022-09-01</td>
                            </tr>
                        </table>
                </div>
            </div>
        </div>

        <div class="my-ticket">
            <div class="subheader">사용 완료된 이용권</div>
            <div class="content">
                <div class="header">사용 완료 내역이 없습니다.</div>
            </div>
        </div>


    </div>
</div>

<script type="module" src="/js/my-subscription.js"></script>




{{>layout/footer}}
