<!-- footer start-->
<footer class="footer">
    <div class="container">
        <div class="footer-links">
            <div>
                <b><a href="/admin/help">고객센터</a></b>
            </div>
            <div>
                <b>FLO 서비스</b>
                <a href="#">서비스 소개</a>
                <a href="#">FLO 플레이어 다운로드</a>
                <a href="#">FLO 크리에이터 스튜디오</a>
            </div>
            <div>
                <b>기업 정보</b>
                <a href="#">회사소개</a>
                <a href="#">인재 채용</a>
            </div>
            <div>
                <b>문의</b>
                <a href="#">마케팅 · 광고 · 제휴 문의</a>
                <a href="#">서비스 이용 문의</a>
                <a href="#">음원 유통 문의</a>
            </div>
        </div>
        <div class="footer-bottom">
            <div style="font-weight: 600">
                이용약관 | 개인정보 처리방침 | 청소년 보호정책 | 사업자정보 확인
            </div>
            <div>
                대표이사: 김동훈 | 사업자 등록번호: 214-86-29288 | 통신판매업 신고번호: 2008-서울서초-1039
            </div>
            <div>
                서울특별시 서초구 강남대로 311 드림플러스 15F | 1599-6034 | flo@music-flo.com
            </div>
            <div>
                (주)드림어스컴퍼니 ALL RIGHTS RESERVED
            </div>

            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-xing"></i></a>
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->
</body>
</html>
