<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="icon" href="/images/favicon-96x96.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Falling</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://cdn.jsdelivr.net/npm/mustache@4.2.0/mustache.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <style>
        .message {
            padding: 5px;
            margin: 5px;
            border-radius: 5px;
            max-width: 80%;
        }
        .user-message {
            background-color: #DCF8C6;
            text-align: right;
            float: right;
            clear: both;
        }
        .ai-message {
            background-color: #EDEDED;
            text-align: left;
            float: left;
            clear: both;
        }
        #chatArea {
            height: 300px;
            overflow-y: scroll;
            border: 1px solid black;
            padding: 10px;
        }
        .ai-round-button {
            display: inline-block;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            text-align: center;
            color: white;
            text-decoration: none;
            overflow: hidden;
            padding: 0;
        }
        .ai-round-button img {
            display: block;
            border-radius: 50%;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    </style>
</head>
<body>
<header class="header-main" style="margin-top: 10px">
    <nav class="nav-header">
        <div class="logo">
            <a href="/">
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                     width="110.000000pt" height="20.800000pt" viewBox="0 0 275.000000 52.000000"
                     preserveAspectRatio="xMidYMid meet">
                    <g transform="translate(0.000000,52.000000) scale(0.100000,-0.100000)"
                       fill="#004AAD" stroke="none">
                        <path d="M52 418 c-8 -8 -12 -59 -12 -164 0 -165 5 -182 55 -170 23 6 25 11 25 66 l0 60 60 0 c49 0 61 3 70 20 25 46 -17 74 -100 67 -21 -2 -25 2 -25 23 0 24 2 25 90 30 85 5 90 6 93 28 7 45 -12 52 -132 52 -74 0 -116 -4 -124 -12z"/>
                        <path d="M598 418 c-9 -7 -47 -78 -84 -156 -72 -153 -75 -174 -22 -180 20 -2 28 4 43 38 l18 41 66 -3 c65 -3 66 -4 86 -41 16 -30 25 -37 44 -35 52 6 49 28 -22 175 -85 175 -95 187 -129 161z m40 -163 c16 -35 16 -35 -18 -35 -16 0 -30 2 -30 5 0 11 24 55 30 55 4 0 12 -11 18 -25z"/>
                        <path d="M953 423 c-10 -3 -13 -47 -13 -169 0 -192 -12 -177 140 -172 l95 3 0 30 0 30 -77 3 -78 3 0 127 c0 147 -10 169 -67 145z"/>
                        <path d="M1342 418 c-8 -8 -12 -59 -12 -163 0 -104 4 -155 12 -163 8 -8 48 -12 115 -12 93 0 103 2 113 21 20 36 -3 49 -86 49 l-74 0 0 134 c0 113 -2 135 -16 140 -24 9 -39 7 -52 -6z"/>
                        <path d="M1743 423 c-10 -3 -13 -47 -13 -169 l0 -164 25 -6 c50 -12 55 4 55 172 0 141 -2 154 -19 164 -21 11 -29 11 -48 3z"/>
                        <path d="M1976 414 c-13 -13 -16 -42 -16 -163 0 -160 5 -176 52 -169 22 3 23 7 26 96 1 51 7 92 12 90 4 -2 39 -43 77 -93 66 -87 92 -106 120 -87 19 12 20 322 1 333 -46 30 -68 -5 -68 -109 l0 -86 -65 90 c-88 118 -106 132 -139 98z"/>
                        <path d="M2515 416 c-66 -29 -111 -111 -99 -180 9 -60 29 -92 76 -126 54 -39 137 -42 189 -7 32 22 34 26 37 91 4 89 -4 98 -82 94 -60 -3 -61 -3 -61 -33 0 -27 4 -30 33 -33 29 -3 33 -6 30 -30 -3 -23 -8 -27 -40 -30 -29 -2 -43 3 -67 25 -66 62 -31 163 58 163 22 0 43 -4 46 -10 17 -28 84 12 72 43 -15 40 -131 60 -192 33z"/>
                    </g>
                </svg>
            </a>
        </div>
        <div class="nav-links" style="font-size: 14px">
            <a href="/song-chart" class="text-body">차트별</a>
            <a href="/song-genre" class="text-body">장르별</a>
            <a href="/storage" class="text-body">보관함</a>
            <a href="/subscription-list" class="text-body">이용권</a>
        </div>
        <div class="search-bar">
            <form action="/search" method="get" class="form-inline">
                <i class="fa fa-search"></i>
                <input type="text" placeholder="검색어를 입력하세요." name="keyword" id="search-keyword">
            </form>
        </div>
        <div class="auth-links">
            {{#sessionUser}}
                <a href="/logout" class="text-body">로그아웃</a>
                <a href="/profile" class="text-body">마이페이지</a>
            {{/sessionUser}}
            {{^sessionUser}}
                <a href="/login-form" class="text-body">로그인</a>
                <a href="/join-section" class="text-body">회원가입</a>
            {{/sessionUser}}
            <a href="#chatModal" class="btn ai-round-button" id="connectBtn" data-bs-toggle="modal" data-bs-target="#chatModal">
                <img src="/images/AI.png" alt="AI Chat">
            </a>
        </div>
    </nav>
</header>

<!-- Modal -->
<div class="modal fade" id="chatModal" tabindex="-1" aria-labelledby="chatModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="chatModalLabel">Chat with AI</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
<!--                <div>-->
<!--                    <label for="username">Username:</label>-->
<!--                    <input type="text" id="username"/>-->
<!--                    <button id="connectBtn" class="btn btn-secondary">Connect</button>-->
<!--                </div>-->
                <br/>
                <div id="chatArea"></div>
                <br/>
                <div>
                    <textarea id="message" rows="3" cols="40"></textarea>
                    <br/>
                    <button id="sendBtn" class="btn btn-primary">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>

<script type="text/javascript">
    var stompClient = null;

    function connect() {
        var socket = new SockJS('/chat-websocket');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function(frame) {
            console.log('Connected: ' + frame);
            stompClient.subscribe('/topic/messages', function(response) {
                showMessage(JSON.parse(response.body));
            });
        });
    }

    function sendMessage() {
        var messageContent = $('#message').val();
        // var username = $('#username').val();
        var chatMessage = {
            content: messageContent,
            // sender: username
        };
        stompClient.send('/app/chat.sendMessage', {}, JSON.stringify(chatMessage));
        $('#message').val('');
        showUserMessage(chatMessage); // 사용자의 메시지를 바로 표시
    }

    function showMessage(message) {
        var messageElement = $('<div class="message ai-message"></div>');
        messageElement.text(message.content);
        $('#chatArea').append(messageElement);
        $('#chatArea').scrollTop($('#chatArea')[0].scrollHeight); // 스크롤을 아래로
    }

    function showUserMessage(message) {
        var messageElement = $('<div class="message user-message"></div>');
        messageElement.text(message.content);
        $('#chatArea').append(messageElement);
        $('#chatArea').scrollTop($('#chatArea')[0].scrollHeight); // 스크롤을 아래로
    }

    $(function () {
        $('#connectBtn').click(function() {
            connect();
        });
        $('#sendBtn').click(function() {
            sendMessage();
        });
    });
</script>