<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/images/favicon-96x96.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Falling</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mustache@4.2.0/mustache.min.js"></script>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <nav class="col-md-2 d-none d-md-block sidebar">
            <div class="sidebar-sticky">
                <div class="text-center mb-4">
                    <img src="/images/logo-only.png" style="width: 120px" class="rounded-circle">
                    <h4>falling</h4>
                </div>
                <a href="/admin/users">회원 관리</a>
                <a href="/admin/songs">곡 관리</a>
                <a href="/admin/albums">앨범 관리</a>
                <a href="/admin/artists">가수 관리</a>
                <a href="#">플레이리스트 관리</a>
                <a href="/admin/reports">신고 관리</a>
                <a href="/admin/logout">로그아웃</a>
            </div>
        </nav>