{{>layout/header}}

<div class="join-container">
    <form class="join-form">
        <div class="d-flex justify-content-center">
            <h4 style="font-weight: 900;">회원가입</h4>
        </div>
        <input class="input-font" type="text" placeholder="아이디(이메일)" required>
        <input class="input-font" type="password" placeholder="비밀번호" required>
        <input class="input-font" type="password" placeholder="비밀번호 확인" required>
        <div class="inline-inputs">
            <input class="input-font" type="text" placeholder="생년월일" required>
            -
            <input type="password" placeholder="" required value="*******" disabled>
        </div>
        <input class="input-font" type="text" placeholder="전화번호" required>

        <br>
        <br>
        <button type="submit">가입 완료</button>
    </form>
</div>

{{>layout/footer}}