{{>layout/header}}
<br>
<div class="container">
    <h1>정보관리</h1>
    <div class="user-info">
        <div class="user-info-left">
            <div class="d-flex">
                <h2>카카오 계정 회원</h2>
            </div>
            <div>
                <span class="email">khh85**@naver.com</span>
                <span>|</span>
                <span class="status">사용중인 이용권이 없습니다.</span>
            </div>
        </div>
        <div class="user-info-right">
            <button class="purchase-button">이용권 구매</button>
        </div>
    </div>
    <div class="tab-container">
        <div class="tabs">
            <div class="tab" onclick="activateTab(this)">비밀번호 변경</div>
            <div class="tab active" onclick="activateTab(this)">휴대폰 번호 변경</div>
        </div>
        <div class="withdraw-button">회원탈퇴</div>
    </div>
    <div id="tab2" class="content">
        <div class="verification-container">
            <input type="text" id="currentPhone" placeholder="현재 휴대폰 번호" disabled value="010-****-8501">
            <input type="text" id="newPhone" placeholder="새 휴대폰 번호">
            <button id="verifyBtn" disabled>변경완료</button>
        </div>
    </div>
</div>


{{>layout/footer}}
