.main-container{
    display: flex;
    justify-content: center;
}


.main-subscription{
    width: 1000px;
}


.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
}

/* 개별 탭 스타일: 탭의 기본 패딩 및 마진 */
.tab {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
}

/* 활성화된 탭 스타일: 활성화된 탭의 색상 및 배경 색상 */
.tab.active {
    color: white;
    background-color: #3f3fff;
}

/* 탭 호버 스타일: 탭 위에 마우스를 올렸을 때의 효과 */
.tab:hover:not(.tab.active) {
    color: #3f3fff;
}

/* 나의 이용권 컨테이너 스타일 */
.container.my-ticket {
    padding: 20px;
    margin: 20px auto;
    max-width: 55%;
    position: relative;
}

/* 내용 및 헤더 스타일 */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    border-radius: 15px;
    margin: 20px auto;
    padding: 70px;
}

.header {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

/* 서브헤더 스타일: 작은 제목 크기와 색상  검정색*/
.subheader {
    font-size: 16px;
    margin-bottom: 20px;
}

/* 이용권 구매 버튼 스타일 */
.plan-button {
    background-color: #3f3fff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 16px;
}
