.sidebar {
    /* height: 100vh; */
    background-color: #2d3e50;
    color: #fff;
    padding-top: 20px;
}
.sidebar a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
}
.sidebar a:hover {
    background-color: #1a252f;
}

body {
    font-family: Arial, sans-serif;
}
.main-body{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.main-container{
    width: 70%;
}

.card {
    margin-bottom: 20px;
}
.notifications, .team-members {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
}
.button-row {
    margin: 20px 0;
}
.button-row button {
    margin-right: 10px;
}
.form-group {
    margin-bottom: 15px;
}


.album-details {
    margin-top: 20px;
}
.album-art img {
    max-width: 100%;
    height: auto;
}
.album-info h2 {
    margin-top: 0;
}
.info-section {
    /* margin-top: 30px; */
    white-space: pre-line;
}
.btn-primary, .btn-secondary {
    margin-right: 10px;
}
.info-section h3 {
    color: #007bff;
}

