body {
    font-family: 'Noto Sans KR', sans-serif;
    display: grid;
    justify-content: center;
    background-size: 100% 100%;
}

.song-detail-main-contents {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}


.song-detail-badge-area {
    display: flex;
    align-items: center;
    margin: 40px 50px 10px 25px;
}

.song-detail-badge-song-cover {
    margin-right: 20px;
}

.song-detail-album-cover {
    width: 100%;
    max-width: 240px;
    margin: 0 auto 30px;
    display: block;
}

.song-detail-badge-song-detail {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.song-detail-badge-song-info {
    position: relative;
    top: -60px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.song-detail-song-about {
    display: flex;
    flex-direction: column;
}

.song-detail-badge-song-info p {
    margin-top: 2px;
    margin-bottom: 2px;
}

.song-detail-badge-song-info .song-detail-title {
    font-size: 30px;
    font-weight: bolder;
    color: #333333;
    text-decoration: none;
}

.song-detail-song-info div b {
    margin-right: 30px;
}

.song-detail-title a {
    color: #333333;
    text-decoration: none;
}

.song-detail-artist a {
    color: #333333;
    text-decoration: none;
}

.song-detail-album a {
    color: #727272;
    text-decoration: none;
}

.song-detail-badge-song-info .song-detail-artist,
.song-detail-album {
    font-weight: normal;
}

.song-detail-icons {
    display: flex;
    margin-left: 20px;
}

.song-detail-icons a {
    font-size: 18px;
}

.song-detail-icons .song-detail-btn-add-like {
    color: red;
    margin-right: 10px;
    margin-top: 5px;
}

.song-detail-icons .song-detail-btn-add-playlist {
    color: #000000;
    margin-right: 10px;
    margin-top: 5px;
}

.song-detail-icons .song-detail-btn-add-list {
    color: #000000;
    margin-right: 10px;
    margin-top: 5px;
}

.song-detail-song-info {
    overflow: hidden;
    white-space: pre-line;
    padding-left: 15px;
    width: 100%;
}

.song-detail-lyrics {
    text-align: left;
}
