<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Player</title>
    <link rel="stylesheet" href="/css/current-playlist.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>
<div class="container">
    <div class="left-panel">
        <div style="font-size: 20px; font-weight: 600; margin-bottom: 10px">오래된 노래</div>
        <div style="font-size: 15px; color: gray; margin-bottom: 20px">허각&임한별&이무진&이진성&김희재&안녕 ></div>
        <img src="../sample.jpg" class="playlist-img">
    </div>
    <div class="right-panel">
        <div>
            <h2>Playlist</h2>
            <hr>
            <div class="search-bar">
                <i class="fa fa-search"></i>
                <input type="text" placeholder="재생목록에서 검색하세요.">
            </div>

            <ul>
                <li class="d-flex">
                    <img src="../sample.jpg" class="playlist-img" style="width: 50px;">
                    <div class="info">
                        <a href="#">
                            <div style="font-size: 15px; font-weight: 600">오래된 만남</div>
                            <div style="font-size: 12px; color: gray">허각&임한별&이무진&이진성&김희재&안녕</div>
                        </a>
                    </div>
                    <div class="icon-container">
                        <a href="#"><i class="album-icon fas fa-list icon" style="margin-right: 10px"></i></a>
                        <a href="#"><i class="fas fa-ellipsis-v icon" style="color:white;"></i></a>
                    </div>
                </li>

                <li class="d-flex">
                    <img src="../sample.jpg" class="playlist-img" style="width: 50px;">
                    <div class="info">
                        <a href="#">
                            <div style="font-size: 15px; font-weight: 600">오래된 만남</div>
                            <div style="font-size: 12px; color: gray">허각&임한별&이무진&이진성&김희재&안녕</div>
                        </a>
                    </div>
                    <div class="../icon-container">
                        <a href="#"><i class="album-icon fas fa-list icon" style="margin-right: 10px"></i></a>
                        <a href="#"><i class="fas fa-ellipsis-v icon" style="color:white;"></i></a>
                    </div>
                </li>


                <li class="d-flex">
                    <img src="../sample.jpg" class="playlist-img" style="width: 50px;">
                    <div class="info">
                        <a href="#">
                            <div style="font-size: 15px; font-weight: 600">오래된 만남</div>
                            <div style="font-size: 12px; color: gray">허각&임한별&이무진&이진성&김희재&안녕</div>
                        </a>
                    </div>
                    <div class="icon-container">
                        <a href="#"><i class="album-icon fas fa-list icon" style="margin-right: 10px"></i></a>
                        <a href="#"><i class="fas fa-ellipsis-v icon" style="color:white;"></i></a>
                    </div>
                </li>


                <li class="d-flex">
                    <img src="../sample.jpg" class="playlist-img" style="width: 50px;">
                    <div class="info">
                        <a href="#">
                            <div style="font-size: 15px; font-weight: 600">오래된 만남</div>
                            <div style="font-size: 12px; color: gray">허각&임한별&이무진&이진성&김희재&안녕</div>
                        </a>
                    </div>
                    <div class="icon-container">
                        <a href="#"><i class="album-icon fas fa-list icon" style="margin-right: 10px"></i></a>
                        <a href="#"><i class="fas fa-ellipsis-v icon" style="color:white;"></i></a>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>

<div class="footer album-art">
    <div class="progress">
        <span id="currentTime">00:00</span>
        <input type="range" id="progressBar" min="0" max="100" value="0">
        <span id="duration">00:00</span>
    </div>
    <div class="controls">
        <div></div>
        <div>
            <button onclick="playPrevious()">&#9664;&#9664;</button>
            <button onclick="playPause()">&#9654;</button>
            <button onclick="playNext()">&#9654;&#9654;</button>
        </div>
        <div><a class="add-page" style="cursor: pointer"><i class="fa-solid fa-sliders"></i></a></div>

    </div>
    <audio id="audioPlayer">
        <source src="../sample.mp3" type="audio/mpeg">
    </audio>
</div>

<script>
    $(document).ready(function () {
        // audioPlayer 변수에 저장
        const $audioPlayer = $('#audioPlayer');

        // .controls 클래스 내부의 두 번째 버튼(가운데 버튼)을 선택하여 변수에 저장
        const $playPauseButton = $('.controls button:nth-child(2)');

        // progressBar 아이디 변수로 저장.
        const $progressBar = $('#progressBar');

        // currentTime 아이디 변수 저장
        const $currentTimeSpan = $('#currentTime');

        // duration 아이디 변수 저장
        const $durationSpan = $('#duration');

        // 오디오 플레이어의 재생 시간이 업데이트될 때마다 updateProgress 함수 호출
        $audioPlayer.on('timeupdate', updateProgress);

        // 오디오 데이터가 로드되면 progressBar의 최대값을 오디오의 전체 길이로 설정.
        $audioPlayer.on('loadedmetadata', function () {
            $progressBar.attr('max', $audioPlayer[0].duration);

            // durationSpan에 오디오의 전체 길이를 포맷하여 텍스트로 설정합니다.
            $durationSpan.text(formatTime($audioPlayer[0].duration));
        });

        // playPauseButton이 클릭되면 playPause 함수를 호출합니다.
        $playPauseButton.on('click', function () {
            playPause();
        });

        function playPause() {
            if ($audioPlayer[0].paused) {
                $audioPlayer[0].play();
                $playPauseButton.html('&#10074;&#10074;');
                // 오디오가 일시 정지 상태라면 재생하고, 버튼의 HTML을 일시 정지 아이콘으로 변경합니다.
            } else {
                $audioPlayer[0].pause();
                $playPauseButton.html('&#9654;');
                // 오디오가 재생 중이라면 일시 정지하고, 버튼의 HTML을 재생 아이콘으로 변경합니다.
            }
        }

        // 이전 곡 재생 함수
        function playPrevious() {

        }

        // 다음 곡 재생 함수
        function playNext() {
        }

        // progressBar의 값을 현재 재생 시간으로 업데이트
        function updateProgress() {
            $progressBar.val($audioPlayer[0].currentTime);
            // currentTimeSpan에 현재 재생 시간을 포맷, 텍스트로 출력
            $currentTimeSpan.text(formatTime($audioPlayer[0].currentTime));
        }

        // progressBar의 값이 변경될 때 오디오의 현재 재생 시간을 progressBar의 값으로 설정
        $progressBar.on('change', function () {
            $audioPlayer[0].currentTime = $progressBar.val();
        });

        // 초를 분과 초로 변환하여 "분:초" 형식의 문자열로 표시
        function formatTime(seconds) {
            const minutes = Math.floor(seconds / 60);
            const secs = Math.floor(seconds % 60);
            return `${minutes}:${secs < 10 ? '0' : ''}${secs}`;
        }
    });

</script>

</body>

</html>
