{{>layout/header}}
<br>
<div class="main-container">
    <div class="main-playlist">
        <div class="playlist-body">
            <div class="d-flex justify-content-start">
            </div>
            <br>
            <div class="playlist-container">
                <div class="playlist-img-container">
                    <img src="../images/playlist/플레이리스트 커버.jpg">
                    <button class="playlist-play-button">▶</button>
                </div>
                <div class="playlist-info">
                    <a href="#">
                        <h3 style="font-size: 25px; font-weight: 600;">출근길 불쾌지수 낮춰줄 신나는 국힙💪</h3>
                    </a>
                    <br>
                    <a href="#">
                        <p>총 8곡</p>
                    </a>
                    <a href="#">
                        <p>2023.07.11</p>
                    </a>
                    <br>
                    <div class="d-flex">
                        <a href="#"><i class="playlist-icon fas fa-list icon"></i></a>
                        <a href="#"><i class="playlist-icon fas fa-folder-plus custom-icon"></i></a>
                        <a href="#"><i class="playlist-icon fa-regular fa-heart"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="playlist-body">
            <table class="playlist-table">
                <div class="d-flex">
                    <a href="#"><i class="fa-solid fa-play total-listen" style="margin-right: 7px;"></i></a>
                    <a href="#"><h2 class="total-listen" style="font-size: 13px;">전체듣기</h2></a>
                </div>

                <thead>
                <tr>
                    <th><input type="checkbox"></th>
                    <th style="font-size: 12px;">곡/앨범</th>
                    <th class="table-artist" style="font-size: 12px;">아티스트</th>
                    <th style="font-size: 12px;">듣기</th>
                    <th style="font-size: 12px;">재생목록</th>
                    <th style="font-size: 12px;">내 리스트</th>
                    <th style="font-size: 12px;">더보기</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input type="checkbox"></td>
                    <td class="table-album-container">
                        <a href="#">
                            <img src="../images/playlist/여행 Again (Feat. Cautious Clay).jpg" alt="Album Cover">
                        </a>
                        <div class="text-container">
                            <a href="#">
                                <strong>여행 Again (Feat. Cautious Clay)</strong>
                            </a>
                            <a href="#">
                                <p style="font-size: 12px;">NOWITZKI</p>
                            </a>
                        </div>
                    </td>
                    <td class="table-artist">
                        <a href="#">빈지노 (Beenzino)</a>
                    </td>
                    <td>
                        <a href="#"><i class="fas fa-play play-button"></i></a>
                    </td>
                    <td>
                        <a href="#"><i class="fas fa-list icon"></i></a>
                    </td>
                    <td>
                        <a href="#"><i class="fas fa-folder-plus custom-icon"></i></a>
                    </td>
                    <td>
                        <a href="#"><i class="fas fa-ellipsis-h icon"></i></a>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td class="table-album-container">
                        <a href="#">
                            <img src="../images/playlist/Boys And Girls (feat. Babylon).jpg" alt="Album Cover">
                        </a>
                        <div class="text-container">
                            <a href="#">
                                <strong>Boys And Girls (feat. Babylon)</strong>
                            </a>
                            <a href="#">
                                <p style="font-size: 12px;">Boys And Girls</p>
                            </a>
                        </div>
                    </td>
                    <td class="table-artist">
                        <a href="#">지코 (ZICO)</a>
                    </td>
                    <td>
                        <a href="#"><i class="fas fa-play play-button"></i></a>
                    </td>
                    <td>
                        <a href="#"><i class="fas fa-list icon"></i></a>
                    </td>
                    <td>
                        <a href="#"><i class="fas fa-folder-plus custom-icon"></i></a>
                    </td>
                    <td>
                        <a href="#"><i class="fas fa-ellipsis-h icon"></i></a>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td class="table-album-container">
                        <a href="#">
                            <img src="../images/playlist/YACHT (k) (Feat. Sik-K).jpg" alt="Album Cover">
                        </a>
                        <div class="text-container">
                            <a href="#">
                                <strong>YACHT (k) (Feat. Sik-K)</strong>
                            </a>
                            <a href="#">
                                <p style="font-size: 12px;">YACHT</p>
                            </a>
                        </div>
                    </td>
                    <td class="table-artist">
                        <a href="#">박재범</a>
                    </td>
                    <td>
                        <a href="#"><i class="fas fa-play play-button"></i></a>
                    </td>
                    <td>
                        <a href="#"><i class="fas fa-list icon"></i></a>
                    </td>
                    <td>
                        <a href="#"><i class="fas fa-folder-plus custom-icon"></i></a>
                    </td>
                    <td>
                        <a href="#"><i class="fas fa-ellipsis-h icon"></i></a>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td class="table-album-container">
                        <a href="#">
                            <img src="../images/playlist/몇 번의 여름 (여름날 우리 X TOIL, Gist).jpg" alt="Album Cover">
                        </a>
                        <div class="text-container">
                            <a href="#">
                                <strong>몇 번의 여름 (여름날 우리 X TOIL, Gist)</strong>
                            </a>
                            <a href="#">
                                <p style="font-size: 12px;">몇 번의 여름 (여름날 우리 X TOIL, Gist)</p>
                            </a>
                        </div>
                    </td>
                    <td class="table-artist">
                        <a href="#">TOIL&Gist</a>
                    </td>
                    <td>
                        <a href="#"><i class="fas fa-play play-button"></i></a>
                    </td>
                    <td>
                        <a href="#"><i class="fas fa-list icon"></i></a>
                    </td>
                    <td>
                        <a href="#"><i class="fas fa-folder-plus custom-icon"></i></a>
                    </td>
                    <td>
                        <a href="#"><i class="fas fa-ellipsis-h icon"></i></a>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td class="table-album-container">
                        <a href="#">
                            <img src="../images/playlist/LOVE me.jpg" alt="Album Cover">
                        </a>
                        <div class="text-container">
                            <a href="#">
                                <strong>LOVE me</strong>
                            </a>
                            <a href="#">
                                <p style="font-size: 12px;">LOVE me</p>
                            </a>
                        </div>
                    </td>
                    <td class="table-artist">
                        <a href="#">BE'O (비오)</a>
                    </td>
                    <td>
                        <a href="#"><i class="fas fa-play play-button"></i></a>
                    </td>
                    <td>
                        <a href="#"><i class="fas fa-list icon"></i></a>
                    </td>
                    <td>
                        <a href="#"><i class="fas fa-folder-plus custom-icon"></i></a>
                    </td>
                    <td>
                        <a href="#"><i class="fas fa-ellipsis-h icon"></i></a>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td class="table-album-container">
                        <a href="#">
                            <img src="../images/playlist/Cruise (Feat. Coogie).jpg" alt="Album Cover">
                        </a>
                        <div class="text-container">
                            <a href="#">
                                <strong>Cruise (Feat. Coogie)</strong>
                            </a>
                            <a href="#">
                                <p style="font-size: 12px;">Million Track Project</p>
                            </a>
                        </div>
                    </td>
                    <td class="table-artist">
                        <a href="#">BOYCOLD&1MILLION</a>
                    </td>
                    <td>
                        <a href="#"><i class="fas fa-play play-button"></i></a>
                    </td>
                    <td>
                        <a href="#"><i class="fas fa-list icon"></i></a>
                    </td>
                    <td>
                        <a href="#"><i class="fas fa-folder-plus custom-icon"></i></a>
                    </td>
                    <td>
                        <a href="#"><i class="fas fa-ellipsis-h icon"></i></a>
                    </td>
                </tr>

                <tr>
                    <td><input type="checkbox"></td>
                    <td class="table-album-container">
                        <a href="#">
                            <img src="../images/playlist/ZOOM.jpg" alt="Album Cover">
                        </a>
                        <div class="text-container">
                            <a href="#">
                                <strong>ZOOM</strong>
                            </a>
                            <a href="#">
                                <p style="font-size: 12px;">ZOOM</p>
                            </a>
                        </div>
                    </td>
                    <td class="table-artist">
                        <a href="#">제시 (Jessi)</a>
                    </td>
                    <td>
                        <a href="#"><i class="fas fa-play play-button"></i></a>
                    </td>
                    <td>
                        <a href="#"><i class="fas fa-list icon"></i></a>
                    </td>
                    <td>
                        <a href="#"><i class="fas fa-folder-plus custom-icon"></i></a>
                    </td>
                    <td>
                        <a href="#"><i class="fas fa-ellipsis-h icon"></i></a>
                    </td>
                </tr>

                <tr>
                    <td><input type="checkbox"></td>
                    <td class="table-album-container">
                        <a href="#">
                            <img src="../images/playlist/if i die (Feat. ASH ISLAND).jpg" alt="Album Cover">
                        </a>
                        <div class="text-container">
                            <a href="#">
                                <strong>if i die (Feat. ASH ISLAND)</strong>
                            </a>
                            <a href="#">
                                <p style="font-size: 12px;">Fix you</p>
                            </a>
                        </div>
                    </td>
                    <td class="table-artist">
                        <a href="#">Skinny Brown</a>
                    </td>
                    <td>
                        <a href="#"><i class="fas fa-play play-button"></i></a>
                    </td>
                    <td>
                        <a href="#"><i class="fas fa-list icon"></i></a>
                    </td>
                    <td>
                        <a href="#"><i class="fas fa-folder-plus custom-icon"></i></a>
                    </td>
                    <td>
                        <a href="#"><i class="fas fa-ellipsis-h icon"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



{{>layout/footer}}
