{{>layout/header}}
<br>
<div class="main-container">
    <div class="main-playlist">
        <div class="playlist-body">
            <div class="d-flex justify-content-start">
            </div>
            <br>
            <div class="playlist-container">
                <div class="playlist-img-container">
                    <img src="{{playlist.playlistCover}}">
                    <button class="playlist-play-button">▶</button>
                </div>
                <div class="playlist-info">
                    <a href="#">
                        <h3 style="font-size: 25px; font-weight: 600;">{{playlist.playListTitle}}</h3>
                    </a>
                    <br>
                    <a href="#">
                        <p>총 {{playlist.playListSongCount}}곡</p>
                    </a>
                    <a href="#">
                        <p>{{playlist.playListCreatedAt}}</p>
                    </a>
                    <br>
                    <div class="d-flex">
                        <a href="#"><i class="playlist-icon fas fa-list icon"></i></a>
                        <a href="#"><i class="playlist-icon fas fa-folder-plus custom-icon"></i></a>
                        <a href="#"><i class="playlist-icon fa-regular fa-heart"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="playlist-body">
            <table class="playlist-table">
                <div class="d-flex">
                    <a href="#"><i class="fa-solid fa-play total-listen" style="margin-right: 7px;"></i></a>
                    <a href="#"><h2 class="total-listen" style="font-size: 13px;">전체듣기</h2></a>
                </div>

                <thead>
                <tr>
                    <th><input type="checkbox"></th>
                    <th style="font-size: 12px;">곡/앨범</th>
                    <th class="table-artist" style="font-size: 12px;">아티스트</th>
                    <th style="font-size: 12px;">듣기</th>
                    <th style="font-size: 12px;">재생목록</th>
                    <th style="font-size: 12px;">내 리스트</th>
                    <th style="font-size: 12px;">더보기</th>
                </tr>
                </thead>
                <tbody>
                {{#playlist.songList}}
                    <tr>
                        <td><input type="checkbox"></td>
                        <td class="table-album-container">
                            <a href="#">
                                <img src="{{albumImg}}" alt="Album Cover">
                            </a>
                            <div class="text-container">
                                <a href="#">
                                    <strong>{{songTitle}}</strong>
                                </a>
                                <a href="#">
                                    <p style="font-size: 12px;">{{albumTitle}}</p>
                                </a>
                            </div>
                        </td>
                        <td class="table-artist">
                            <a href="#">{{artistName}}</a>
                        </td>
                        <td>
                            <a href="#"><i class="fas fa-play play-button"></i></a>
                        </td>
                        <td>
                            <a href="#"><i class="fas fa-list icon"></i></a>
                        </td>
                        <td>
                            <a href="#"><i class="fas fa-folder-plus custom-icon"></i></a>
                        </td>
                        <td>
                            <a href="#"><i class="fas fa-ellipsis-h icon"></i></a>
                        </td>
                    </tr>
                {{/playlist.songList}}
                </tbody>
            </table>
        </div>
    </div>
</div>



{{>layout/footer}}
