{{>layout/header}}
<div class="storage">
    <div class="storage-tabs">
        <span class="storage-tab selected-tab" data-tab="tab1">내 리스트</span>
        <span class="storage-tab" data-tab="tab2">♡ 곡</span>
        <span class="storage-tab" data-tab="tab3">♡ 앨범</span>
        <span class="storage-tab" data-tab="tab4">♡ 리스트</span>
        <span class="storage-tab" data-tab="tab5">최근 감상</span>
        <div class="highlight"></div>
    </div>
    <div id="storage-tab-content">

    </div>
</div>

<br>
<script type="module" src="/js/storage.js"></script>

{{>layout/footer}}
