<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>album Image</title>
</head>
<body>
<h1>album Image</h1>
{{#album}}
    <img src="{{albumImg}}" alt="Artist Image">
{{/album}}
</body>
</html>
