{{>layout/header}}

<div class="main-container mt-4">
    <div class="main-album">
        <div id="genreChoiceCarousel" class="carousel slide" data-bs-ride="carousel" style="cursor: pointer;">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="#">
                        <img src="../images/main/메인 슬라이드 1.png" class="d-block w-100 genre-choice-img" alt="Slide 1">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="#">
                        <img src="../images/main/메인 슬라이드 2.png" class="d-block w-100 genre-choice-img" alt="Slide 2">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="#">
                        <img src="../images/main/메인 슬라이드 3.png" class="d-block w-100 genre-choice-img" alt="Slide 3">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="#">
                        <img src="../images/main/메인 슬라이드 4.png" class="d-block w-100 genre-choice-img" alt="Slide 4">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="#">
                        <img src="../images/main/메인 슬라이드 5.png" class="d-block w-100 genre-choice-img" alt="Slide 5">
                    </a>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#genreChoiceCarousel"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#genreChoiceCarousel"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <br>

        <div class="main-title">
            <h2 style="font-size: 22px; font-weight: 600;">오늘 발매 음악 ></h2>
            <div class="main-title-filter">
                <a href="#">종합</a>
                <a href="#">국내</a>
                <a href="#">해외</a>
                <a href="#">&lt;</a>
                <a href="#">&gt;</a>
            </div>
        </div>
        <br>
        <div class="album-grid">
            {{#main.latestAlbumList}}
                <div class="album-card">
                    <div class="album-img">
                        <a href="/albums/{{albumId}}/list">
                            <img src="{{albumImage}}" alt="{{albumTitle}}">
                            <div class="play-icon"><i class="fa fa-play"></i></div>
                        </a>
                    </div>
                    <a href="/albums/{{albumId}}/list"><h5 class="album-font">{{albumTitle}}</h5></a>
                    <a href="/artists/{{artistId}}/songs"><p class="artist-font">{{artistName}}</p></a>
                </div>
            {{/main.latestAlbumList}}
        </div>
        <div class="main-title">
            <h2 style="font-size: 22px; font-weight: 600;">오늘의 HOT & NEW ></h2>
            <div class="main-title-filter">
                <a href="#">&lt;</a>
                <a href="#">&gt;</a>
            </div>
        </div>

        <br>

        <div class="album-grid">
            {{#main.newPlaylist}}
                <div class="album-card">
                    <div class="album-img">
                        <a href="/playlists/{{playlistId}}">
                            <img src="{{playlistImg}}">
                            <div class="play-icon"><i class="fa fa-play"></i></div>
                        </a>
                    </div>
                    <a href="/playlists/{{playlistId}}"><h5 class="album-font">{{playlistTitle}}</h5></a>
                </div>
            {{/main.newPlaylist}}
        </div>

        <br>

        <div class="main-title">
            <h2 style="font-size: 22px; font-weight: 600;">장르 콜렉션</h2>
            <div class="main-title-filter">
                <a href="#">&lt;</a>
                <a href="#">&gt;</a>
            </div>
        </div>
        <br>
        <div class="album-grid">
            <div class="album-card">
                <div class="album-img">
                    <a href="/song-chart#tab3">
                        <img src="../images/main/국내 인기 발라드.jpg">
                        <div class="play-icon"><i class="fa fa-play"></i></div>
                    </a>
                </div>
            </div>
            <div class="album-card">
                <div class="album-img">
                    <a href="#">
                        <img src="../images/main/국내 최신 발라드.jpg">
                        <div class="play-icon"><i class="fa fa-play"></i></div>
                    </a>
                </div>
            </div>
            <div class="album-card">
                <div class="album-img">
                    <a href="/song-chart#tab4">
                        <img src="../images/main/해외 팝 인기.jpg">
                        <div class="play-icon"><i class="fa fa-play"></i></div>
                    </a>
                </div>
            </div>
            <div class="album-card">
                <div class="album-img">
                    <a href="#">
                        <img src="../images/main/국내 댄스일렉 최신.jpg">
                        <div class="play-icon"><i class="fa fa-play"></i></div>
                    </a>
                </div>
            </div>
            <div class="album-card">
                <div class="album-img">
                    <a href="/song-chart#tab10">
                        <img src="../images/main/해외 힙합 인기.jpg">
                        <div class="play-icon"><i class="fa fa-play"></i></div>
                    </a>
                </div>
            </div>
        </div>

        <br>

        <div class="main-title">
            <h2 style="font-size: 22px; font-weight: 600;">Editor's PICK ></h2>
            <div class="main-title-filter">
                <a href="#">지난 테마 보기</a>
            </div>
        </div>
        <br>
        <div class="album-grid">
            {{#main.adminPlaylist}}
                <div class="album-card">
                    <div class="album-img">
                        <a href="/playlists/{{playlistId}}">
                            <img src="{{playlistImg}}" alt="{{playlistTitle}}">
                            <div class="play-icon"><i class="fa fa-play"></i></div>
                        </a>
                    </div>
                    <a href="/playlists/{{playlistId}}"><h5 class="album-font">{{playlistTitle}}</h5></a>
                </div>
            {{/main.adminPlaylist}}
        </div>

        <br>
        <br>

        <div style="cursor: pointer;">
            <a href="#">
                <img class="genre-choice-img" src="../images/main/main-genre-choice.png" alt="오래된 노래">
                <div class="play-icon"><i class="fa fa-play"></i></div>
            </a>
        </div>
        <hr>

    </div>
</div>


{{>layout/footer}}
