{{>layout/header}}
{{#reponseDTO}}
    <br>
    <div class="main-container">
        <div class="main-search">
            <div class="search-results">
                <div class="d-flex justify-content-start">
                    <h2 class="search-title">'{{keyword}}'</h2>
                    <h2>검색결과</h2>
                </div>
                <div class="filter-tabs">
                    <button class="active">전체</button>
                    <button>곡</button>
                    <button>앨범</button>
                    <button>아티스트</button>
                    <button>가사</button>
                </div>
                <br>
                {{#artistDTO}}
                <div class="result-item">
                    <a href="/albums/{{albumId}}">
                        <img src="{{albumImg}}" alt="Album Cover">
                    </a>
                <div class="result-info">
                    <a href="/albums/{{albumId}}">
                        <h3 style="font-weight: 600;">{{albumTitle}}</h3>
                    </a>
                    <a href="/artists/{{artistId}}">
                        <p>{{artistName}} ></p>
                    </a>
                    <a href="/songs/{{songId}}">
                        <p>{{songTitle}} ></p>
                    </a>
                    <br>
                    <div class="d-flex">
                        <a href="#"><i class="album-icon fas fa-list icon"></i></a>
                        <a href="#"><i class="album-icon fas fa-folder-plus custom-icon"></i></a>
                    </div>
                {{/artistDTO}}
            </div>
            </div>
            </div>

            <br>

            <div class="search-results">
                <table class="result-table">
                    <h2 class="search-title">곡 ></h2>
                    <thead>
                    <tr>
                        <th><input type="checkbox"></th>
                        <th style="font-size: 12px;">곡/앨범</th>
                        <th class="table-artist" style="font-size: 12px;">아티스트</th>
                        <th style="font-size: 12px;">듣기</th>
                        <th style="font-size: 12px;">재생목록</th>
                        <th style="font-size: 12px;">내 리스트</th>
                        <th style="font-size: 12px;">더보기</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#songs}}
                        <tr>
                            <td><input type="checkbox"></td>
                            <td class="table-album-container">
                                <a href="/albums/{{albumId}}">
                                    <img src="{{albumImg}}" alt="Album Cover">
                                </a>
                                <div class="text-container">
                                    <a href="/songs/{{songId}}">
                                        <strong>{{songTitle}}</strong>
                                    </a>
                                    <a href="/albums/{{albumId}}">
                                        <p style="font-size: 12px;">{{albumTitle}}</p>
                                    </a>
                                </div>
                            </td>
                            <td class="table-artist">
                                <a href="/artists/{{artistId}}">{{artistName}}</a>
                            </td>
                            <td>
                                <a href="#"><i class="fas fa-play play-button"></i></a>
                            </td>
                            <td>
                                <a href="#"><i class="fas fa-list icon"></i></a>
                            </td>
                            <td>
                                <a href="#"><i class="fas fa-folder-plus custom-icon"></i></a>
                            </td>
                            <td>
                                <a href="#"><i class="fas fa-ellipsis-h icon"></i></a>
                            </td>
                        </tr>
                    {{/songs}}

                    </tbody>
                </table>
            </div>

            <br>

            <div class="search-results">
                <h2 class="search-title">앨범</h2>
                <div class="album-grid">
                    {{#songs}}
                        <div class="album-item">
                            <a href="/albums/{{albumId}}">
                                <img class="album-image" src="{{albumImg}}">
                            </a>
                            <div class="album-info">
                                <a href="/albums/{{albumId}}">
                                    <h3 style="font-weight: 600;">{{albumTitle}}</h3>
                                </a>
                                <a href="/artists/{{artistId}}">
                                    <p>{{artistName}}</p>
                                </a>
                                <a href="#">
                                    <p>{{artistType}} · {{nationality}} {{category}}</p>
                                </a>
                                <a href="/albums/{{albumId}}">
                                <p>{{albumCreatedAt}}</p>
                                </a>
                                <div class="d-flex">
                                    <a href="#"><i class="album-icon fas fa-list icon"></i></a>
                                    <a href="#"><i class="album-icon fas fa-folder-plus custom-icon"></i></a>
                                </div>
                            </div>
                        </div>
                    {{/songs}}
                </div>
            </div>

            <br>

            <div class="search-results">
                <h2 class="search-title">아티스트 ></h2>
                <div class="artist-list">
                    {{#songs}}
                        <div class="artist-box">
                            <div class="artist-img-container">
                                <a href="/artists/{{artistId}}">
                                    <img src="{{artistImg}}">
                                    <button class="artist-play-button">▶</button>
                                </a>
                            </div>
                            <a href="/artists/{{artistId}}">
                                <div class="artist-name">{{artistName}}</div>
                            </a>
                                <div class="artist-role">{{artistType}}</div>
                        </div>
                    {{/songs}}
                </div>
            </div>

            <div class="search-results">
                <h2 class="search-title">가사 ></h2>
                <table class="result-table">
                    <thead>
                    <tr>
                        <th><input type="checkbox"></th>
                        <th style="font-size: 12px;">곡/가사</th>
                        <th style="width: 700px;"></th>
                        <th style="font-size: 12px;">아티스트</th>
                        <th style="font-size: 12px;">앨범</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#songs}}
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>
                                <a href="/albums/{{albumId}}">
                                    <img src="{{albumImg}}" alt="Album Cover">
                                </a>
                            </td>
                            <td>
                                <a href="/songs/{{songId}}">
                                    <div>
                                        <strong>{{songTitle}}</strong>
                                        <p class="lyrics-text">{{lyrics}}</p>
                                    </div>
                                </a>
                            </td>
                            <td>
                                <a href="/artists/{{artistId}}" style="white-space: nowrap">{{artistName}}</a>
                            </td>
                            <td>
                                <a href="/albums/{{albumId}}" style="white-space: nowrap">{{albumTitle}}</a>
                            </td>
                        </tr>
                    {{/songs}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


{{/reponseDTO}}
{{>layout/footer}}
