<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Song Video</title>
</head>
<body>
<h1>Song Video</h1>
<video width="600" controls>
    <source src="{{song.musicVideo}}" type="video/mp4">
    Your browser does not support the video tag.
</video>

<h1>Song</h1>
<audio controls>
    <source src="{{song.musicFile}}" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
</body>
</html>
