{{>layout/header}}

<br>
<div class="artist-song-list-main-container">
    <div class="artist-song-list-contents">
        <div class="artist-song-list-album">
            <br>
            <div class="artist-song-list-result-item">
                <input type="hidden" id="artist-id" value="{{artist.artistId}}">
                <div class="artist-song-list-album-cover">
                    <a href="#">
                        <img src="{{artist.artistImage}}" alt="artistImage">
                    </a>
                    <div>
                        <a href="#"><i class="artist-song-list-play-btn fas fa-solid fa-circle-play"></i></a>
                    </div>
                </div>
                <div class="artist-song-list-result-info">
                    <a href="#">
                        <h3 style="font-weight: 600;">{{artist.artistName}}</h3>
                    </a>
                    <div class="artist-song-list-album-info">
                        <p class="artist-song-list-album-category">{{artist.artistType}} | {{artist.artistGenre}}</p>
                    </div>

                    <div class="artist-song-list-info-icons">
                        {{#artist.isArtistLike}}
                            <a href="#"><i class="artist-song-list-btn-add-like fas fa-heart"></i></a>
                        {{/artist.isArtistLike}}
                        {{^artist.isArtistLike}}
                            <a href="#"><i class="artist-song-list-btn-add-like fa-regular fa-heart"></i></a>
                        {{/artist.isArtistLike}}
                        <a href="#" class="artist-song-list-title-play">
                            <i class="artist-song-list-title-play-btn fas fa-play play-button"></i>
                            <div class="artist-song-list-title-play-text">타이틀곡 듣기</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <div class="artist-song-list-tab-button">
            <button class="artist-song-list-song-list">곡</button>
            <button class="artist-song-list-album-list">앨범</button>
        </div>
        <div class="artist-song-list-filter">
            <div class="artist-song-list-table-menu">
                <div class="artist-song-list-table-order">
                    <div class="artist-song-list-filter-album-category">
                        <p class="artist-song-list-all" data-keyword="전체">
                            전체
                        </p>
                        <p class="artist-song-list-album-category" data-keyword="정규/싱글">
                            정규/싱글
                        </p>
                        <p class="artist-song-list-participation" data-keyword="미니">
                            미니
                        </p>
                        <p>
                            |
                        </p>
                    </div>
                    <div class="artist-song-list-filter-order-by">
                        <p class="artist-song-list-order-by-date" data-orderby="최신순">
                            최신순
                        </p>
                        <p class="artist-song-list-order-by-popularity" data-orderby="인기순">
                            인기순
                        </p>
                        <p class="artist-song-list-order-by-korean" data-orderby="가나다순">
                            가나다순
                        </p>
                    </div>
                </div>
                <div>
                </div>
            </div>
        </div>
        <br>

        <div>
            <ul class="artist-song-list-album-list" id="artist-song-list-album-list">

            </ul>
        </div>
    </div>
</div>
<br>
<script type="module" src="/js/artist-song-list.js"></script>
{{>layout/footer}}