{{>layout/header}}
<br>
<div class="artist-album-list-main-container">
    <div class="artist-album-list-contents">
        <div class="artist-album-list-album">
            <br>
            <div class="artist-album-list-result-item">
                <input type="hidden" id="artist-id" value="{{artist.artistId}}">
                <div class="artist-album-list-album-cover">
                    <a href="#">
                        <img src="{{artist.artistImage}}" alt="Artist Image">
                    </a>
                    <div>
                        <a href="#"><i class="artist-album-list-play-btn fas fa-solid fa-circle-play"></i></a>
                    </div>
                </div>
                <div class="artist-album-list-result-info">
                    <a href="#">
                        <h3 style="font-weight: 600;">{{artist.artistName}}</h3>
                    </a>
                    <div class="artist-album-list-album-info">
                        <p class="artist-album-list-album-category">{{artist.artistType}} | {{artist.artistGenre}}</p>
                    </div>

                    <div class="artist-album-list-icons">
                        <input id="artist-like" type="hidden" value="{{artist.isArtistLike}}">
                        <a href="#" class="artist-album-list-title-play">
                            <i class="artist-album-list-title-play-btn fas fa-play play-button"></i>
                            <div class="artist-album-list-title-play-text">타이틀곡 듣기</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <div class="artist-album-list-tab-button">
            <button class="artist-album-list-song-list">곡</button>
            <button class="artist-album-list-album-list">앨범</button>
        </div>
        <div class="artist-album-list-song-list">
            <table class="artist-album-list-song-list-table">
                <div class="artist-album-list-filter">
                    <div class="artist-album-list-table-menu">
                        <div class="artist-album-list-table-order">
                            <div class="artist-album-list-filter-album-category">
                                <p class="artist-album-list-all" data-keyword="전체">
                                    전체
                                </p>
                                <p class="artist-album-list-album-category" data-keyword="정규/싱글">
                                    정규/싱글
                                </p>
                                <p class="artist-album-list-participation" data-keyword="미니">
                                    미니
                                </p>
                                <p>
                                    |
                                </p>
                            </div>
                            <div class="artist-album-list-filter-order-by">
                                <p class="artist-album-list-order-by-date" data-orderby="최신순">
                                    최신순
                                </p>
                                <p class="artist-album-list-order-by-popularity" data-orderby="인기순">
                                    인기순
                                </p>
                                <p class="artist-album-list-order-by-korean" data-orderby="가나다순">
                                    가나다순
                                </p>
                            </div>
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
                <thead>
                <tr class="artist-main-table-header">
                    <td><input type="checkbox"></td>
                    <td>곡/앨범</td>
                    <td class="artist-album-list-table-artist">아티스트</td>
                    <td>듣기</td>
                    <td>재생목록</td>
                    <td>내 리스트</td>
                    <td>더보기</td>
                </tr>
                </thead>
                <tbody class="artist-album-list-tbody" id="artist-album-list-tbody">

                </tbody>
            </table>
        </div>
    </div>
</div>
<br>
<script type="module" src="/js/artist-detail.js"></script>
{{>layout/footer}}
