{{>layout/header}}
<br>
<div class="artist-album-list-main-container">
    <div class="artist-album-list-contents">
        <div class="artist-album-list-album">
            <br>
            <div class="artist-album-list-result-item">
                <div class="artist-album-list-album-cover">
                    <a href="#">
                        <img src="{{artist.artistImage}}" alt="Artist Image">
                    </a>
                    <div>
                        <a href="#"><i class="artist-album-list-play-btn fas fa-solid fa-circle-play"></i></a>
                    </div>
                </div>
                <div class="artist-album-list-result-info">
                    <a href="#">
                        <h3 style="font-weight: 600;">{{artist.artistName}}</h3>
                    </a>
                    <div class="artist-album-list-album-info">
                        <p class="artist-album-list-album-category">{{artist.artistType}} | {{artist.artistGenre}}</p>
                    </div>

                    <div class="artist-album-list-icons">
                        {{#artist.isArtistLike}}
                            <a href="#"><i class="artist-album-list-btn-add-like fas fa-heart"></i></a>
                        {{/artist.isArtistLike}}
                        {{^artist.isArtistLike}}
                            <a href="#"><i class="artist-album-list-btn-add-like fa-regular fa-heart"></i></a>
                        {{/artist.isArtistLike}}
                        <a href="#" class="artist-album-list-title-play">
                            <i class="artist-album-list-title-play-btn fas fa-play play-button"></i>
                            <div class="artist-album-list-title-play-text">타이틀곡 듣기</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <div class="artist-album-list-tab-button">
            <button class="artist-album-list-song-list">곡</button>
            <button class="artist-album-list-album-list">앨범</button>
        </div>
        <div class="artist-album-list-song-list">
            <table class="artist-album-list-song-list-table">
                <div class="artist-album-list-filter">
                    <div class="artist-album-list-table-menu">
                        <div class="artist-album-list-table-order">
                            <div class="artist-album-list-filter-album-category">
                                <p>
                                    <a href="#" class="artist-album-list-all">전체</a>
                                </p>
                                <p>
                                    <a href="#" class="artist-album-list-album-category">정규/싱글</a>
                                </p>
                                <p>
                                    <a href="#" class="artist-album-list-participation">참여</a>
                                </p>
                                <p>
                                    |
                                </p>
                            </div>
                            <div class="artist-album-list-filter-order-by">
                                <p>
                                    <a href="#" class="artist-album-list-order-by-date">최신순</a>
                                </p>
                                <p>
                                    <a href="#" class="artist-album-list-order-by-popularity">인기순</a>
                                </p>
                                <p>
                                    <a href="#" class="artist-album-list-order-by-korean">가나다순</a>
                                </p>
                            </div>
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
                <thead>
                <tr class="artist-main-table-header">
                    <td><input type="checkbox"></td>
                    <td>곡/앨범</td>
                    <td class="artist-album-list-table-artist">아티스트</td>
                    <td>듣기</td>
                    <td>재생목록</td>
                    <td>내 리스트</td>
                    <td>더보기</td>
                </tr>
                </thead>
                <tbody>
                {{#artist.songList}}
                    <tr class="artist-main-table-body">
                        <td><input type="checkbox"></td>
                        <td class="artist-album-list-table-album-container">
                            <a href="/albums/{{albumId}}/list">
                                <img src="{{coverImg}}" alt="Album Cover">
                            </a>
                            <div class="artist-album-list-text-container">
                                <div class="artist-album-list-title-group">
                                    <div class="artist-album-list-song-title">
                                        <a href="/songs/{{songId}}">
                                            {{title}}
                                        </a>
                                    </div>
                                </div>
                                <a href="/albums/{{albumId}}/list">
                                    <p class="artist-album-list-album-title" style="font-size: 12px;">{{albumTitle}}</p>
                                </a>
                            </div>
                        </td>
                        <td class="artist-album-list-table-artist">
                            <a href="/artists/{{artistId}}">{{artistName}}</a>
                        </td>
                        <td>
                            <a href="#" class="play-btn" data-songid="{{songId}}" data-title="{{title}}"
                               data-artist="{{artistName}}" data-cover="{{coverImg}}" data-music="{{musicFile}}"
                               data-lyrics="{{lyrics}}" data-islogin="{{artist.isLogin}}">
                                <i class="artist-album-list-play-btn fa-solid fa-play"></i>
                            </a>
                        </td>
                        <td>
                            <a href="#"><i class="artist-album-list-add-playlist-btn fas fa-list icon"></i></a>
                        </td>
                        <td>
                            <a href="#"><i
                                    class="artist-album-list-add-list-btn fas fa-folder-plus custom-icon"></i></a>
                        </td>
                        <td>
                            <a href="#"><i class="artist-album-list-more-btn fas fa-ellipsis-h icon"></i></a>
                        </td>
                    </tr>
                {{/artist.songList}}
                </tbody>
            </table>
        </div>
    </div>
</div>
<br>
<script type="module" src="/js/artist-detail.js"></script>

{{>layout/footer}}
