{{>layout/header}}

<br>
<div class="artist-song-list-main-container">
    <div class="artist-song-list-contents">
        <div class="artist-song-list-album">
            <br>
            <div class="artist-song-list-result-item">
                <div class="artist-song-list-album-cover">
                    <a href="#">
                        <img src="{{album.artistImage}}" alt="artistImage">
                    </a>
                    <div>
                        <a href="#"><i class="artist-song-list-play-btn fas fa-solid fa-circle-play"></i></a>
                    </div>
                </div>
                <div class="artist-song-list-result-info">
                    <a href="#">
                        <h3 style="font-weight: 600;">{{album.artistName}}</h3>
                    </a>
                    <div class="artist-song-list-album-info">
                        <p class="artist-song-list-album-category">{{album.artistType}} | {{album.artistGenre}}</p>
                    </div>

                    <div class="artist-song-list-info-icons">
                        <a href="#"><i class="artist-song-list-btn-add-like fa-regular fa-heart"></i></a>
                        <a href="#" class="artist-song-list-title-play">
                            <i class="artist-song-list-title-play-btn fas fa-play play-button"></i>
                            <div class="artist-song-list-title-play-text">타이틀곡 듣기</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <div class="artist-song-list-tab-button">
            <button class="artist-song-list-song-list">곡</button>
            <button class="artist-song-list-album-list">앨범</button>
        </div>
        <div class="artist-song-list-filter">
            <div class="artist-song-list-table-menu">
                <div class="artist-song-list-table-order">
                    <div class="artist-song-list-filter-album-category">
                        <p>
                            <a href="#" class="artist-song-list-all">전체</a>
                        </p>
                        <p>
                            <a href="#" class="artist-song-list-album-category">정규/싱글</a>
                        </p>
                        <p>
                            <a href="#" class="artist-song-list-participation">참여</a>
                        </p>
                        <p>
                            |
                        </p>
                    </div>
                    <div class="artist-song-list-filter-order-by">
                        <p>
                            <a href="#" class="artist-song-list-order-by-date">최신순</a>
                        </p>
                        <p>
                            <a href="#" class="artist-song-list-order-by-popularity">인기순</a>
                        </p>
                        <p>
                            <a href="#" class="artist-song-list-order-by-korean">가나다순</a>
                        </p>
                    </div>
                </div>
                <div>
                </div>
            </div>
        </div>
        <br>

        <div>
            <ul class="artist-song-list-album-list">
                {{#album.albumList}}
                    <li>
                        <div class="artist-song-list-badge-area">
                            <div class="artist-song-list-album-cover">
                                <img src="{{albumImage}}" alt="Album Cover">
                                <a href="#"><i class="artist-song-list-play-btn fa fa-play"></i></a>
                            </div>
                            <div class="artist-song-list-album-info">
                                <div class="artist-song-list-info-area">
                                    <a href="#"></a>
                                    <p class="artist-song-list-album-title">{{albumTitle}}</p></a>
                                    <a href="#"></a>
                                    <p class="artist-song-list-album-artist">{{album.artistName}} ></p></a>
                                </div>
                                <div class="artist-song-list-explain_area">
                                    <div class="artist-song-list-album-category">
                                        <p>{{albumCategory}}</p>
                                    </div>
                                    <div class="artist-song-list-album-date">
                                        <p>{{createdAt}}</p>
                                    </div>
                                </div>
                                <div class="artist-song-list-icons">
                                    <a href="#"><i class="artist-song-list-btn-add-list fas fa-list icon"></i></a>
                                    <a href="#"><i
                                            class="artist-song-list-btn-add-playlist fas fa-folder-plus custom-icon"></i></a>
                                    <a href="#"><i class="artist-song-list-btn-add-like fa-regular fa-heart"></i></a>
                                </div>
                            </div>
                        </div>
                    </li>
                {{/album.albumList}}
            </ul>
        </div>
    </div>
</div>
<br>

{{>layout/footer}}
