{{>layout/header}}

<div class="chart">
    <div class="chart-tags">
        <ul>
            <li id="tab1" class="active-tab">FLO 차트</li>
            <li id="tab2">해외 소셜 차트</li>
            <li id="tab3">국내 발라드</li>
            <li id="tab4">해외 팝</li>
            <li id="tab5">국내 댄스/일렉</li>
            <li id="tab6">국내 알앤비</li>
            <li id="tab7">국내 힙합</li>
            <li id="tab8">트로트</li>
            <li id="tab9">해외 알앤비</li>
            <li id="tab10">해외 힙합</li>
            <li id="tab11">OST/BGM</li>
            <li id="tab12">키즈</li>
            <li id="tab13">국내 인디</li>
            <li id="tab14">클래식</li>
            <li id="tab15">뉴에이지</li>
            <li id="tab16">국내 팝/어쿠스틱</li>
            <li id="tab17">해외 일렉트로닉</li>
            <li id="tab18">CCM</li>
        </ul>
    </div>
    <div id="content1" class="chart-main tab-content active-content">
        <div class="chart-header">
            <h3>FLO 차트</h3>
            <div>▷ 전체듣기</div>
        </div>
        <table class="chart-main-table">
            <tr class="chart-main-table-header">
                <th><input type="checkbox"></th>
                <th>순위</th>
                <th>곡/앨범</th>
                <th>아티스트</th>
                <th>듣기</th>
                <th>재생목록</th>
                <th>내 리스트</th>
                <th>더보기</th>
            </tr>
            {{#all.mainChart}}
                <tr class="chart-main-table-body">
                    <td><input type="checkbox" value="{{songId}}"></td>
                    <td>{{index}}</td>
                    <td>
                        <a href="/albums/{{albumId}}/list">
                            <div class="chart-main-table-body-img">
                                <img class="chart-img" src="{{coverImg}}" alt="{{title}}">
                                <span>
                                    <div>{{title}}</div>
                                    <div class="chart-album-name">{{albumTitle}}</div>
                                </span>
                            </div>
                        </a>
                    </td>
                    <td><a href="/artists/{{artistId}}/songs">{{artistName}}</a></td>
                    <td>
                        <a href="#" class="play-btn" data-songid="{{songId}}" data-index="{{index}}"
                           data-title="{{title}}"
                           data-artist="{{artistName}}" data-cover="{{coverImg}}" data-music="{{musicFile}}"
                           data-lyrics="{{lyrics}}">
                            <i class="fa-solid fa-play"></i>
                        </a>
                    </td>
                    <td><a href="#"><i class="fa-solid fa-list-ul"></i></a></td>
                    <td><a href="#"><i class="fa-solid fa-folder-plus"></i></a></td>
                    <td><a href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a></td>
                </tr>
            {{/all.mainChart}}
        </table>
        <div class="chart-more-button" id="load">
            더보기 <i class="fa-solid fa-chevron-down"></i>
        </div>
    </div>

    <!-- Other chart content sections -->

</div>
<script type="module" src="/js/song-chart.js"></script>
<script>
    $(document).ready(function () {
        $('.play-btn').click(function (event) {
            event.preventDefault();

            // 데이터 가져오기
            var songData = {
                songId: $(this).data('songid'),
                index: $(this).data('index'),
                title: $(this).data('title'),
                artistName: $(this).data('artist'),
                coverImg: $(this).data('cover'),
                musicFile: $(this).data('music')
            };

            // URL에 데이터 추가
            var url = new URL('/playlists/current', window.location.origin);
            Object.keys(songData).forEach(key => url.searchParams.append(key, songData[key]));

            // 새로운 팝업 창 열기
            window.open(url.toString(), '플레이리스트', 'width=1200,height=700');
        });
    });
</script>

{{>layout/footer}}
