{{>layout/header}}

<div class="chart">
    <div class="chart-tags">
        <ul>
            <li>FLO 차트</li>
            <li>해외 소셜 차트</li>
            <li>국내 발라드</li>
            <li>해외 팝</li>
            <li>국내 댄스/일렉</li>
            <li>국내 알앤비</li>
            <li>국내 힙합</li>
            <li>트로트</li>
            <li>해외 알앤비</li>
            <li>해외 힙합</li>
            <li>OST/BGM</li>
            <li>키즈</li>
            <li>국내 인디</li>
            <li>클래식</li>
            <li>뉴에이지</li>
            <li>국내 팝/어쿠스틱</li>
            <li>해외 일렉트로닉</li>
            <li>CCM</li>
        </ul>
    </div>
    <div class="chart-main">
        <div class="chart-header">
            <h3>FLO 차트</h3>
            <div>▷ 전체듣기</div>
        </div>
        <table class="chart-main-table">
            <tr class="chart-main-table-header">
                <th><input type="checkbox"></th>
                <th>순위</th>
                <th>곡/앨범</th>
                <th>아티스트</th>
                <th>듣기</th>
                <th>재생목록</th>
                <th>내 리스트</th>
                <th>더보기</th>
            </tr>
            <tr class="chart-main-table-body">
                <td><input type="checkbox"></td>
                <td>1</td>
                <td>
                    <div class="chart-main-table-body-img">
                        <img class="chart-img" src="../images/chart/Armageddon.webp" alt="Armageddon">
                        <span>
                        <div>Supernova</div>
                        <div class="chart-album-name">Armageddon - The 1st Album</div>
                    </span>
                    </div>
                </td>

                <td>aespa</td>
                <td><i class="fa-solid fa-play"></i></td>
                <td><i class="fa-solid fa-list-ul"></i></td>
                <td><i class="fa-solid fa-folder-plus"></i></td>
                <td><i class="fa-solid fa-ellipsis-vertical"></i></td>
            </tr>
            <tr class="chart-main-table-body">
                <td><input type="checkbox"></td>
                <td>2</td>
                <td>
                    <div class="chart-main-table-body-img">
                        <img class="chart-img" src="../images/chart/HowSweet.webp" alt="HowSweet">
                        <span>
                        <div>How Sweet</div>
                        <div class="chart-album-name">How Sweet</div>
                    </span>
                    </div>
                </td>

                <td>NewJeans</td>
                <td><i class="fa-solid fa-play"></i></td>
                <td><i class="fa-solid fa-list-ul"></i></td>
                <td><i class="fa-solid fa-folder-plus"></i></td>
                <td><i class="fa-solid fa-ellipsis-vertical"></i></td>
            </tr>
            <tr class="chart-main-table-body">
                <td><input type="checkbox"></td>
                <td>3</td>
                <td>
                    <div class="chart-main-table-body-img">
                        <img class="chart-img" src="../images/chart/IVE Switch.webp" alt="IVESwitch">
                        <span>
                        <div>해야 (HEYA)</div>
                        <div class="chart-album-name">IVE Switch</div>
                    </span>
                    </div>
                </td>

                <td>aespa</td>
                <td><i class="fa-solid fa-play"></i></td>
                <td><i class="fa-solid fa-list-ul"></i></td>
                <td><i class="fa-solid fa-folder-plus"></i></td>
                <td><i class="fa-solid fa-ellipsis-vertical"></i></td>
            </tr>
        </table>
        <div class="chart-more-button">
            더보기 <i class="fa-solid fa-chevron-down"></i>
        </div>
    </div>

</div>


{{>layout/footer}}
