{{>layout/header}}

<div class="genre">
    <div class="genre-title">
        <h3>장르</h3>
    </div>
    <div class="genre-list">
        <ul>
            <li>
                <div>
                    <a href="#">
                        <img src="../images/genre/국내 발라드.jpeg" alt="국내 발라드">
                        <p>국내 발라드</p>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="#">
                        <img src="../images/genre/해외 팝.jpeg" alt="해외 팝">
                        <p>해외 팝</p>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="#">
                        <img src="../images/genre/국내 댄스_일렉.jpeg" alt="국내 댄스/일렉">
                        <p>국내 댄스/일렉</p>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="#">
                        <img src="../images/genre/국내 알앤비.jpeg" alt="국내 알앤비">
                        <p>국내 알앤비</p>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="#">
                        <img src="../images/genre/국내 힙합.jpeg" alt="국내 힙합">
                        <p>국내 힙합</p>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="#">
                        <img src="../images/genre/트로트.jpeg" alt="트로트">
                        <p>트로트</p>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="#">
                        <img src="../images/genre/해외 알앤비.jpeg" alt="해외 알앤비">
                        <p>해외 알앤비</p>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="#">
                        <img src="../images/genre/해외 힙합.jpeg" alt="해외 힙합">
                        <p>해외 힙합</p>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="#">
                        <img src="../images/genre/OST_BGM.jpeg" alt="OST/BGM">
                        <p>OST/BGM</p>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="#">
                        <img src="../images/genre/키즈.jpeg" alt="키즈">
                        <p>키즈</p>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="#">
                        <img src="../images/genre/국내 인디.jpeg" alt="국내 인디">
                        <p>국내 인디</p>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="#">
                        <img src="../images/genre/클래식.jpeg" alt="클래식">
                        <p>클래식</p>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="#">
                        <img src="../images/genre/뉴에이지.jpeg" alt="뉴에이지">
                        <p>뉴에이지</p>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="#">
                        <img src="../images/genre/재즈.jpeg" alt="재즈">
                        <p>재즈</p>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="#">
                        <img src="../images/genre/국내 팝_어쿠스틱.jpeg" alt="국내 팝/어쿠스틱">
                        <p>국내 팝/어쿠스틱</p>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="#">
                        <img src="../images/genre/국내 포크_블루스.jpeg" alt="국내 포크/블루스">
                        <p>국내 포크/블루스</p>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="#">
                        <img src="../images/genre/국내 록_메탈.jpeg" alt="국내 록/메탈">
                        <p>국내 록/메탈</p>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="#">
                        <img src="../images/genre/해외 일렉트로닉.jpeg" alt="해외 일렉트로닉">
                        <p>해외 일렉트로닉</p>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="#">
                        <img src="../images/genre/해외 록.jpeg" alt="해외 록">
                        <p>해외 록</p>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="#">
                        <img src="../images/genre/해외 메탈.jpeg" alt="해외 메탈">
                        <p>해외 메탈</p>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="#">
                        <img src="../images/genre/J-POP.jpeg" alt="J-POP">
                        <p>J-POP</p>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="#">
                        <img src="../images/genre/맘_태교.jpeg" alt="맘/태교">
                        <p>맘/태교</p>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="#">
                        <img src="../images/genre/CCM.jpeg" alt="CCM">
                        <p>CCM</p>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="#">
                        <img src="../images/genre/월드뮤직.jpeg" alt="월드뮤직">
                        <p>월드뮤직</p>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="#">
                        <img src="../images/genre/국악.jpeg" alt="국악">
                        <p>국악</p>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="#">
                        <img src="../images/genre/종교음악.jpeg" alt="종교음악">
                        <p>종교음악</p>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>

{{>layout/footer}}
