{{>layout/header}}

<div class="chart">
    <div class="chart-tags">
        <ul>
            <li id="tab1" class="active-tab">FLO 차트</li>
            <li id="tab2">해외 소셜 차트</li>
            <li id="tab3">국내 발라드</li>
            <li id="tab4">해외 팝</li>
            <li id="tab5">국내 댄스/일렉</li>
            <li id="tab6">국내 알앤비</li>
            <li id="tab7">국내 힙합</li>
            <li id="tab8">트로트</li>
            <li id="tab9">해외 알앤비</li>
            <li id="tab10">해외 힙합</li>
            <li id="tab11">OST/BGM</li>
            <li id="tab12">키즈</li>
            <li id="tab13">국내 인디</li>
            <li id="tab14">클래식</li>
            <li id="tab15">뉴에이지</li>
            <li id="tab16">국내 팝/어쿠스틱</li>
            <li id="tab17">해외 일렉트로닉</li>
            <li id="tab18">CCM</li>
        </ul>
    </div>
    <div id="content1" class="chart-main tab-content active-content">
        <div class="chart-header">
            <h3>FLO 차트</h3>
            <div>▷ 전체듣기</div>
        </div>
        <table class="chart-main-table">
            <tr class="chart-main-table-header">
                <th><input type="checkbox"></th>
                <th>순위</th>
                <th>곡/앨범</th>
                <th>아티스트</th>
                <th>듣기</th>
                <th>재생목록</th>
                <th>내 리스트</th>
                <th>더보기</th>
            </tr>
            {{#chart}}
                <tr class="chart-main-table-body">
                    <td><a href="#"><input type="checkbox" value="{{songId}}"></a></td>
                    <td><a href="#">{{index}}</a></td>
                    <td>
                        <a href="#">
                            <div class="chart-main-table-body-img">
                                <img class="chart-img" src="{{coverImg}}" alt="{{title}}">
                                <span>
                                    <div>{{title}}</div>
                                    <div class="chart-album-name">{{albumTitle}}</div>
                                </span>
                            </div>
                        </a>
                    </td>
                    <td><a href="#">{{artistName}}</a></td>
                    <td>
                        <a href="#">
                            <input type="hidden" value="{{musicFile}}">
                            <i class="fa-solid fa-play"></i>
                        </a>
                    </td>
                    <td><a href="#"><i class="fa-solid fa-list-ul"></i></a></td>
                    <td><a href="#"><i class="fa-solid fa-folder-plus"></i></a></td>
                    <td><a href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a></td>
                </tr>
            {{/chart}}
        </table>
        <div class="chart-more-button" id="load">
            더보기 <i class="fa-solid fa-chevron-down"></i>
        </div>
    </div>

    <div id="content2" class="chart-main tab-content">
        <div class="chart-header">
            <h3>해외 소셜 차트</h3>
            <div>▷ 전체듣기</div>
        </div>
        <table class="chart-main-table">
            <tr class="chart-main-table-header">
                <th><input type="checkbox"></th>
                <th>순위</th>
                <th>곡/앨범</th>
                <th>아티스트</th>
                <th>듣기</th>
                <th>재생목록</th>
                <th>내 리스트</th>
                <th>더보기</th>
            </tr>
            {{#global}}
                <tr class="chart-main-table-body">
                    <td><input type="checkbox" value="{{songId}}"></td>
                    <td>{{index}}</td>
                    <td>
                        <div class="chart-main-table-body-img">
                            <img class="chart-img" src="{{coverImg}}" alt="{{title}}">
                            <span>
                        <div>{{title}}</div>
                        <div class="chart-album-name">{{albumTitle}}</div>
                    </span>
                        </div>
                    </td>

                    <td>{{artistName}}</td>
                    <td>
                        <input type="hidden" value="{{musicFile}}">
                        <i class="fa-solid fa-play"></i>
                    </td>
                    <td><i class="fa-solid fa-list-ul"></i></td>
                    <td><i class="fa-solid fa-folder-plus"></i></td>
                    <td><i class="fa-solid fa-ellipsis-vertical"></i></td>
                </tr>
            {{/global}}
        </table>
        <div class="chart-more-button" id="load">
            더보기 <i class="fa-solid fa-chevron-down"></i>
        </div>
    </div>

</div>
<script type="module" src="/js/song-chart.js"></script>

{{>layout/footer}}
