{{>layout/header}}
<!-- 모달 -->
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <ul id="modal-list" class="modal-list">
            <!-- 기본 항목 -->
            <li class="modal-list-item">
                <div>+</div>
                <div>새로운 리스트 추가하기</div>
            </li>
        </ul>
    </div>
</div>
<!-- 모달 끝 -->

<div class="song-detail-main-contents">
    <div class="song-detail-badge-area">
        <div class="song-detail-badge-song-cover">
            <img src="{{song.albumImage}}" class="song-detail-album-cover">
        </div>
        <div class="song-detail-badge-song-detail">
            <div class="song-detail-badge-song-info">
                <p class="song-detail-title"><a href="#">{{song.title}}</a></p>
                <p class="song-detail-artist"><a href="#">{{song.artist}}</a></p>
                <p class="song-detail-album"><a href="#">{{song.albumTitle}}</a></p>
            </div>
            <p class="song-detail-icons">
                <a href="#"><i class="song-detail-btn-add-list fas fa-list icon"></i></a>
                <a id="myBtn" href="#"><i class="song-detail-btn-add-playlist fas fa-folder-plus custom-icon"></i></a>
                <a href="#"><i class="song-detail-btn-add-like fa-regular fa-heart"></i></a>
            </p>
        </div>
    </div>
    <div class="song-detail-song-info">
        <div class="song-detail-song-about">
            <div><b>곡명</b> {{song.title}}</div>
            <div><b>작곡</b> {{song.songWriter}}</div>
            <div><b>작사</b> {{song.lyricist}}</div>
        </div>
        <div class="song-detail-lyrics">{{song.lyrics}}</div>
    </div>
</div>

<script type="module" src="/js/playlist-modal.js"></script>

{{>layout/footer}}
