{{>layout/header}}

<br>
<div class="album-detail-main-container">
    <div class="album-detail-contents">
        <div class="album-detail-album">
            <br>
            <div class="album-detail-result-item">
                <div class="album-detail-album-cover">
                    <a href="#">
                        <img src="{{album.albumImage}}" alt="Album Cover">
                    </a>
                    <div>
                        <a href="#"><i class="album-detail-play-btn fas fa-play play-button"></i></a>
                    </div>
                </div>
                <div class="album-detail-result-info">
                    <a href="#">
                        <h3 style="font-weight: 600;">{{album.albumTitle}}</h3>
                    </a>
                    <a href="#">
                        <p>{{album.albumArtist}}</p>
                    </a>
                    <div class="album-detail-album-info">
                        <p class="album-detail-album-category">{{album.category}} | {{album.albumGenre}}</p>
                        <p class="album-detail-album-release-date">{{album.createdAt}}</p>
                    </div>

                    <div class="album-detail-icons">
                        <a href="#"><i class="album-detail-btn-add-list fas fa-list icon"></i></a>
                        <a href="#"><i class="album-detail-btn-add-playlist fas fa-folder-plus custom-icon"></i></a>
                        <a href="#"><i class="album-detail-btn-add-like fa-regular fa-heart"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <div class="album-detail-tab-button">
            <button class="album-detail-album-detail">상세정보</button>
            <button class="album-detail-album-songs">수록곡</button>
        </div>

        <br>

        <div class="album-detail-album-about">
            <table class="album-detail-album-about">
                <tr>
                    <td class="album-detail-album-about-title">앨범명</td>
                    <td class="album-detail-album-about-content">{{album.albumTitle}}</td>
                </tr>
                <tr>
                    <td class="album-detail-album-about-title">아티스트</td>
                    <td class="album-detail-album-about-content">{{album.albumArtist}}</td>
                </tr>
                <tr>
                    <td class="album-detail-album-about-title">유통사</td>
                    <td class="album-detail-album-about-content">{{album.distributor}}</td>
                </tr>
                <tr>
                    <td class="album-detail-album-about-title">기획사</td>
                    <td class="album-detail-album-about-content"> {{album.agency}}</td>
                </tr>
            </table>
        </div>
        <div class="album-detail-song-intro">
            <div class="album-detail-song-intro-title">
                <b>앨범소개</b>
            </div>
            <div class="album-detail-song-intro-content" >
                {{album.albumIntro}}
            </div>
        </div>
    </div>
</div>
{{>layout/footer}}