{{>layout/header}}

<br>
<div class="album-list-main-container">
    <div class="album-list-contents">
        <div class="album-list-album">
            <br>
            <div class="album-list-result-item">
                <div class="album-list-album-cover">
                    <a href="#">
                        <img src="{{album.albumImage}}" alt="Album Cover">
                    </a>
                    <div>
                        <a href="#"><i class="album-list-play-btn fas fa-play play-button"></i></a>
                    </div>
                </div>
                <div class="album-list-result-info">
                    <a href="#">
                        <h3 style="font-weight: 600;">{{album.albumTitle}}</h3>
                    </a>
                    <a href="#">
                        <p>{{album.albumArtist}}</p>
                    </a>
                    <div class="album-list-album-info">
                        <p class="album-list-album-category">{{album.category}}</p>
                        <p class="album-list-album-release-date">{{album.createdAt}}</p>
                    </div>

                    <div class="album-list-icons">
                        <a href="#"><i class="album-list-btn-add-list fas fa-list icon"></i></a>
                        <a href="#"><i class="album-list-btn-add-playlist fas fa-folder-plus custom-icon"></i></a>
                        <a href="#"><i class="album-list-btn-add-like fa-regular fa-heart"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <div class="album-list-tab-button">
            <button class="album-list-album-detail">상세정보</button>
            <button class="album-list-album-songs">수록곡</button>
        </div>
        <div class="album-list-song-list">
            <table class="album-list-song-list-table">
                <a href="#" class="album-list-all-play"><i class="album-list-all-play-btn fas fa-play play-button"></i>
                    전체듣기</a>
                <thead>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>번호</td>
                    <td>곡/앨범</td>
                    <td class="album-list-table-artist">아티스트</td>
                    <td>듣기</td>
                    <td>재생목록</td>
                    <td>내 리스트</td>
                    <td>더보기</td>
                </tr>
                </thead>
                <tbody>
                <!--타이틀 곡
                -->
                {{#album.songList}}
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>
                            <div class="album-list-no">
                                {{index}}
                            </div>
                        </td>
                        <td class="album-list-table-album-container">
                            <a href="#">
                                <img src="{{album.albumImage}}" alt="Album Cover">
                            </a>
                            <div class="album-list-text-container">
                                <div class="album-list-title-group">
                                    {{#isTitle}}
                                        <div class="album-list-title-mark">TITLE</div>
                                    {{/isTitle}}
                                    <div class="album-list-song-title">
                                        <a href="#"></a>
                                        {{title}}
                                        </a>
                                    </div>
                                </div>
                                <a href="#">
                                    <p class="album-list-album-title" style="font-size: 12px;">{{album.albumTitle}}</p>
                                </a>
                            </div>
                        </td>
                        <td class="album-list-table-artist">
                            <a href="#">{{artistName}}</a>
                        </td>
                        <td>
                            <a href="#"><i class="album-list-play-btn fas fa-play play-button"></i></a>
                        </td>
                        <td>
                            <a href="#"><i class="album-list-add-playlist-btn fas fa-list icon"></i></a>
                        </td>
                        <td>
                            <a href="#"><i class="album-list-add-list-btn fas fa-folder-plus custom-icon"></i></a>
                        </td>
                        <td>
                            <a href="#"><i class="album-list-more-btn fas fa-ellipsis-h icon"></i></a>
                        </td>
                    </tr>
                {{/album.songList}}
                </tbody>
            </table>
        </div>
    </div>
</div>
<br>

{{>layout/footer}}
